<h2>Schedule for <%= l @date, :format => :long %></h2>
<p>Employees who are set to be scheduled by and admin will appear below.</p>

<div class="row">
  <%= link_to "<< #{l @date - 1.day, :format => :long}", schedules_path(date: @date - 1.day) if @date > Date.today %>
  <%= link_to "#{l @date + 1.day, :format => :long} >>", schedules_path(date: @date + 1.day), class: 'pull-right' %>
</div>

<table class="scheduling-table">
  <tbody>
    <% @users.each do |user| %>
      <% workday = user.workdays.on_date(@date).first %>
      <tr class="<%= workday && (workday.recurring? || workday.hours.any? {|h| h['type'] == 'scheduled' }) ? '' : 'disabled' %>" 
          data-user-id="<%= user.id %>" data-workday-id="<%= workday.id if workday %>" data-date="<%= @date %>" >
        <td>
          <%= user.name %>
        </td>
        <td>
          <span class="fa-stack deactivate-user" title="Deactivate Employee">
            <i class="fa fa-user fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
          </span>
          <i class="fa fa-user activate-user" title="Activate Employee"></i>
          <i class="fa fa-minus-square remove-break" title="Remove Break"></i>
        </td>
        <td style="width:100%">
          <%= render :partial => "common/slider", locals: {editable: true, user: user, workday: workday} %>
        </td>
        <td>
          <i class="fa fa-plus-square add-break" title="Add Break"></i>
          <%= '<i class="fa fa-refresh" title="Recurring"></i>'.html_safe if workday && workday.recurring? %>
          <%= link_to '<i class="fa fa-edit" title="Edit"></i>'.html_safe, edit_workday_path(workday), class: 'edit-workday' if workday %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
