<h2>Scheduling</h2>
<p>This allows an admin to set up a schedule for his company. It will display a full day with each "scheduled" user shown. Flex users will not be
   shown. That user's current schedule and an indication will be shown if it's recurring. Add/Remove breaks will be controls for scheduling.
   Activate/deactivate will send to create and destroy, all other changes to update.
   Link to create a recurring schedule for a particular employee. Need an override in workdays create to have it create as scheduled if the
   user does not select any days for the schedule to repeat on. Users will be updated immediately (no save button)</p>
<table class="scheduling-table">
  <tbody>
    <% @users.each do |user| %>
      <% workday = user.workdays.today.first %>
      <tr class="<%= workday && (workday.recurring? || workday.hours.any? {|h| h['type'] == 'scheduled' }) ? '' : 'disabled' %>" 
          data-id="<%= user.id %>" >
        <td>
          <%= user.name %>
        </td>
        <td>
          <span class="fa-stack deactivate-user" title="Deactivate Employee">
            <i class="fa fa-user fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
          </span>
          <i class="fa fa-user activate-user" title="Activate Employee"></i>
          <i class="fa fa-minus-square remove-break" title="Remove Break"></i>
        </td>
        <td style="width:100%">
          <%= render :partial => "common/slider", locals: {editable: true, user: user, workday: workday} %>
        </td>
        <td>
          <i class="fa fa-plus-square add-break" title="Add Break"></i>
          <%= '<i class="fa fa-refresh"></i>'.html_safe if workday && workday.recurring? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
