<div class="form-group">
  <%= label_tag 'leave[type]', 'Type', class: 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= select_tag 'leave[type]', options_for_select(@workday.user.option.leave_types.map{|s| [s.titleize, s]}), class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <table class="leave-table">
    <tbody>
      <tr>
        <td><%= l @workday.date, :format => :day_of_week %></td>
        <td><i class="fa fa-minus-square" title="Remove Break"></i></td>
        <td class="expand"><%= render :partial => "common/slider", locals: {editable: true, user: @user, workday: @workday} %></td>
        <td><i class="fa fa-plus-square" title="Remove Break"></i></td>
        <td><%= t :hours, count: @workday.total_hours %></td>
      </tr>
    </tbody>
  </table>    
</div>
