
<%= form_for workday, html: {class: 'workday-form'} do |f| %>
  <%= f.hidden_field :user_id %>
  <div class="form-group row">
    <%= f.label :date, 'Start Date', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10" style="z-index:1020;">
      <%= f.text_field :date, data: {behavior: 'datepicker'}, class: "form-control" %>
    </div>
  </div>
  
  <h4>Hours</h4>
  <table class="leave-table">
    <tbody>
      <td class="hide"></td>
      <td>
        <i class="fa fa-minus-square remove-break" title="Remove Break"></i>
      </td>
      <td>
        <%= render :partial => 'common/slider', locals: {editable: true, workday: workday} %>
      </td>
      <td>
        <i class="fa fa-plus-square add-break" title="Add Break"></i>
      </td>
    </tbody>
  </table>
    
  
  <div class="form-group">
    <h4>Recurs On</h4>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="checkbox">
        <%= f.check_box 'recurring_days', {:multiple => true, id: 'workday_monday' }, 1, @workday.recurring_days.include?(0) %> <%= f.label :monday %>
        </div>
          
        <div class="checkbox">
        <%= f.check_box 'recurring_days', {:multiple => true, id: 'workday_tuesday' }, 2, @workday.recurring_days.include?(0) %> <%= f.label :tuesday %>
        </div>
          
        <div class="checkbox">
        <%= f.check_box 'recurring_days', {:multiple => true, id: 'workday_wednesday' }, 3, @workday.recurring_days.include?(0) %> <%= f.label :wednesday %>
        </div>
          
        <div class="checkbox">
        <%= f.check_box 'recurring_days', {:multiple => true, id: 'workday_thursday' }, 4, @workday.recurring_days.include?(0) %> <%= f.label :thursday %>
        </div>
      </div>
        
      <div class="col-sm-6">
        <div class="checkbox">
        <%= f.check_box 'recurring_days', {:multiple => true, id: 'workday_friday' }, 5, @workday.recurring_days.include?(0) %> <%= f.label :friday %>
        </div>
          
        <div class="checkbox">
        <%= f.check_box 'recurring_days', {:multiple => true, id: 'workday_saturday' }, 6, @workday.recurring_days.include?(0) %> <%= f.label :saturday %>
        </div>
          
        <div class="checkbox">
        <%= f.check_box 'recurring_days', {:multiple => true, id: 'workday_sunday' }, 0, @workday.recurring_days.include?(0) %> <%= f.label :sunday %>
        </div>
      </div>
    </div>
  </div>
    
  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
