<h2>My Schedule This Month</h2>
<table class="table">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
  </thead>
  <tbody>
    <% @workweeks.each do |workdays| %>
      <tr>
      <% workdays.each do |workday| %>
        <td>
          <% unless workday.nil? %>
            <%= l workday.date, :format => :short %><br/>
            <%= render :partial => 'common/slider', locals: {editable: false, workday: workday, user: current_user} %>
            <% if workday.recurring? %>
              <% if can?(:schedule, Workday) %>
                <%= link_to '<i class="fa fa-refresh" title="Recurring. Click to override."></i>'.html_safe, new_workday_path(date: workday.date) %>
              <% else %>
                <i class="fa fa-refresh" title="recurring"></i>
              <% end %>
            <% end %>
            <%= link_to '<i class="fa fa-edit" title="Edit this workday."></i>'.html_safe, edit_workday_path(workday) if can?(:schedule, Workday) || !workday.recurring? %>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Schedule or Workday", new_workday_path, class: 'btn btn-primary' if can? :schedule, Workday %>
